body {
    background-color: rgb(122, 121, 121);
    margin: 0%;
    padding: 0%; 
  }

header, footer{
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 99;
}

header {
    height: 5vh;
}

footer {
    height: 15vh;
    bottom: 0;
}

#nav_bar {
    list-style-type: none; /* this removes the bullets from list */ 
    margin: 0;
    padding: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
}

.nav_item {
    display: inline-block;
    padding: 15px;
}

.nav_item a {
    color: white;
}

.nav_item:hover {
    background-color:rgb(7, 103, 134);
}

#text-container {
    position: absolute;
    left: 45%;
    top: 15%;
    line-height: 50px;
    width: 550px;
    z-index: 10;
    color: white;
}

#hello {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#name {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0%;
    margin-bottom: 0%;
}

#profession {
    font-size: 25px;
    text-align: center;
    color: #000;
}

#me_pic {
    position: absolute;
    top: 15%;
    left: 10%;
    height: 660px;
}

#intro_text {
    font-size: 100%;
    font-family: Tahoma;
    line-height: 20px;
}

#resumeButton {
    background:black;
    color: white;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%) ;   
}

#resumeButton:hover {
    background-color: rgb(7, 103, 134)
}

.footer {
    position: absolute;
    background-color: black;
}

#clickBelow { /*this is for profession page*/
    text-align: center;
    font-size: medium;
    position: relative;
    margin-top: 60px;
}

.container { /*this is for about me page*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.social-links {
    display: flex;
    padding-top: 1%;
    position: absolute;
    left: 48%;
    transform: translateX(-48%);
    margin-top: 10px;
}

.social-links ul{
    display: flex;
    margin: auto;
}

.social-items {
    list-style-type: none;
}

.social-items a{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: rgb(7, 103, 134);
}

.copyright p{
    color: white;
    text-align: center;
    padding: 1%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#careertimeline {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}


.buttonBox { /*this is for actual button element*/
    background-color:rgb(7, 103, 134);
    color: white;
    padding: 20px;
    border: solid black;
    border-radius: 10px;
    cursor: pointer;
}

.buttonBox:hover {
    background-color: silver;
}

.buttons { /*this is for the div element*/
    text-align: center;
    margin: 5%;
}

.downArrow {
    text-align: center;
}

.popup { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid black;
    border-radius: 10px;
    z-index: 999;
    background-color: white;
    width: 800px;
    max-width: 80%;
    display: none;
}

.popupHeader {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.popupHeaderTitle {
    font-size: 1.25rem;
    font-weight: bold;
}

.closebutton {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    background: none;
}

.popupBody {
    padding: 20px 15px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}
