body {
    background-image: linear-gradient(to right, blue,aqua);
    position: relative;
  }

#nav_bar {
    list-style-type: none; /* this removes the bullets from list */ 
    background: rgb(15, 15, 15);
    margin: 0%;
    padding: 0px;
    position: fixed; /*makes it so nav bar is still there when scrolling*/
    top: 0;
    width: 100%;
    text-align: center;
}

.nav_item {
    display: inline-block;
    padding: 10px;
}

.nav_item a {
    color: white;
}

.nav_item:hover {
    background-color: rgba(37, 116, 112, 0.658);
}

h1 {
    margin: 5%; 
    background: lightblue;
    width: 90%;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
}

#clickBelow {
    text-align: center;
    font-size: medium;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.intro_text {
    margin: 5px;
    font-size: 120%;
}

#bigText1, #bigText2{
    margin: 20px;
}


.Footer {
    margin: 0%;
    padding: 10px;
    background: rgb(15, 15, 15);
}

.social-links {
    display: flex;
    padding-top: 1%;
}

.social-links ul{
    display: flex;
    margin: auto;
}

.social-items {
    list-style-type: none;
}

.social-items a{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: lightblue;
}

.copyright p{
    color: white;
    text-align: center;
    padding: 1%;
}

.buttonBox { /*this is for actual button element*/
    background: lightblue;
    color: black;
    padding: 20px;
    border: solid black;
    border-radius: 10px;
    cursor: pointer;
}

.buttons { /*this is for the div element*/
    text-align: center;
    margin: 5%;
}

.downArrow {
    text-align: center;
}

.popup { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid black;
    border-radius: 10px;
    z-index: 999;
    background-color: white;
    width: 800px;
    max-width: 80%;
    display: none;
}

.popupHeader {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.popupHeaderTitle {
    font-size: 1.25rem;
    font-weight: bold;
}

.closebutton {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    background: none;
}

.popupBody {
    padding: 20px 15px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}
